@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}

nav{
text-align: center;
background-color:rgb(153, 204, 245);
color: rgb(70, 27, 67);
height: 60px;
font-size: 2.5rem;
font-weight: 800;
font-family: Poppins;
padding: 0px 10px;
display: flex;
align-items: center;

}
nav ul{
    text-decoration: none;
}

.game-container{
background-color: cornflowerblue;
display: flex;
justify-content: center;
align-items: center;
padding: 5%;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
}

.boxtext{
font-size: 400%;
}

.imgbox img {
    /* display: none; */
    padding-top: 10px;
    width: 0px;
    transition: width 2s ease-in-out;
}

.box{
    border: 1px solid teal;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background:rgb(152, 73, 236);
}

.info{
    font-weight: bolder;
}
#reset{ 
    text-shadow: aquamarine;
    padding: 1% 4%;
    border-radius: 4px;
    background-color: rgba(231, 214, 245, 0.267);
    font-size: large;
    font-weight: 700;
}

#reset:hover{
    background: royalblue;
}

.gameinfo{
    padding: 5%;   
}

.info{
    font-size: larger;
}


                    /* customize utility class  */
.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

                 /* customize  utility class */

  @media only screen and (max-width: 800px){
                    .game-container{
                            flex-wrap: wrap;
                    }

                    .gameinfo{
                        font-size: .7rem;
                    }

                    .container {
                        display: grid;
                        grid-template-rows: repeat(3,20vw);
                        grid-template-columns: repeat(3,21vw);
                    }

                    #reset{
                        font-size: .7rem;
                        margin-top: 5px;
                          }     
        
                        }
                


                 
